@font-face {
    font-family: 'Poppins Light';
    src: url('../fonts/poppinsLight/Poppins-Light.eot');
    src: url('../fonts/poppinsLight/Poppins-Light.eot')
            format('embedded-opentype'),
        url('../fonts/poppinsLight/Poppins-Light.woff') format('woff'),
        url('../fonts/poppinsLight/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/poppinsRegular/Poppins-Regular.eot');
    src: url('../fonts/poppinsRegular/Poppins-Regular.eot')
            format('embedded-opentype'),
        url('../fonts/poppinsRegular/Poppins-Regular.woff') format('woff'),
        url('../fonts/poppinsRegular/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Semibold';
    src: url('../fonts/poppinsSemibold/Poppins-SemiBold.eot');
    src: url('../fonts/poppinsSemibold/Poppins-SemiBold.eot')
            format('embedded-opentype'),
        url('../fonts/poppinsSemibold/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/poppinsSemibold/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
