//----MAIN COLORS

$primary:#d58e32;
$secondary:#2a2a2a; //header footer btn  border-form btn-control--slider-top  dark top-menu-links-text  features all? which seems to be black
$medium-primary:#e0a38e; //hover-features arrow-right-carousel
$light-primary:#fbf3f7; //stock-bed
$light-secondary: #363636;
$prize-crosser: #a5a5a5;
$contacts:#d8d8d8;
$secondary-stock:#e8edf7;
$footer-text:#a9a9a9; //and icons
$transparent-bg:#282828;    //50% top-slider, product-carousel-notactive-overlay
                            //60% carouserl-round-prise-bg
                            //40% stock left

$helper-color:#e2e2e2; //dots-slider, headings-underline border-carousel-product
$product-bg:#f4f5f7; //card&carousel-product-main

//SOME MORE COLORS
$features-border: #bfbfbf;
$newsletter-placeholder: #b4b4b4;
$search-placeholder:#a4a4a4;
$newsletter-bg: #f2f2f2;
$tags: #959595;
$stock-accent:#79ae30;
$prize-crosser: #a5a5a5;

