@import 'global';

* {
  font-family: 'Poppins Regular', sans-serif;
}
//NAV-BAR
.nav-bar {
  background-color: $light-secondary;
  color: #fff;
  padding:20px 0;
}
.nav-bar__settings-item{
  font-size: 13px;
  font-family: 'Poppins Regular', sans-serif;
}
.nav-bar .nav-link {
  color: #fff;
  padding: 0;
  margin-right: 10px;
  border-bottom: 1px solid rgba(255,255,255,0);
  transition: border-bottom-color 0.2s;
  &:hover {
    border-bottom: 1px solid rgba(255,255,255,1);
  }
}
.nav-bar__user{
  font-size: 13px;
  font-family: 'Poppins Regular', sans-serif;
}
.user__icon{
  margin-right: 10px;
}

//TOP-MENU
.top-menu{
  background-color: $secondary;
  padding: 35px 0;
}
.top-menu__contacts-link{
  font-size: 17px;
  color: $contacts;
  display: flex;
  align-items: center;
  font-family: 'Poppins SemiBold', sans-serif;

  border-bottom: 1px solid rgba(255,255,255,0);
  transition: border-bottom-color 0.2s;
  &:hover{
    text-decoration: none;
    color: #fff;
    margin-top: 1px;
  }
  &:hover .top-menu__contacts-text{
    border-bottom: 1px solid rgba(255,255,255,1);
  }
}
.top-menu__contacts-icon{
  color:$primary;
  font-size: 32px;
  margin-right: 13px;
}
.top-menu__cart{
  width: 50px;
  height: 47px;
  font-size: 21px;
  padding: 10px 16px 10px 10px;
  background-color: $primary;
  position: relative;
  margin-right: calc(29px/2);
  &:hover .cart__cart-icon{
    color: $secondary;
  }
}
.cart__cart-icon{
  color:#fff;
}
.cart-btn-icon{
  margin-right: 10px;
}
.cart__cart-counter{
  background-color: $secondary;
  position: absolute;
  right:calc(-29px/2);
  top: calc(50% - 29px/2);
  color: #fff;
  width: 29px;
  height: 29px;
  text-align: center;
  font-family: 'Poppins Regular', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

//HEADER
.header__container{
  padding: 0;
}
.header{
  box-shadow: 0 2px 6px 0 rgba(158, 155, 158, 1);
  z-index: 3;
}

.form-search{
  position: relative;
  font-size: 14px;
  font-family: "Poppins Regular",sans-serif;
  color: $search-placeholder;
  margin: 20px 0;
}
.form-search__container{
  padding: 1px 4px;
  width: 320px;
  border: 1px solid $secondary;
}
.form-search__container .form-search__input{
border:none;
  &:focus {
    box-shadow: none;
  }
  &:focus .form-search {
    box-shadow: 0 0 0.2rem $medium-primary;
  }
}
.form-search__btn-search {
  border-width: 0;
  font-size: 16px;
  margin-right: 10px;
  background-color: transparent;
  &:focus {
    border:none;
    outline: none;
  }
  &:hover {
    color:$primary;
  }
}

.header__nav-bar {
  padding-right: 0;
  z-index: 2;
}
.header__nav-list{
  height: 85px;
}
.header__nav-item{
  display: inline-block;
/*  padding:35px 17px;*/
  padding:30px 16px;
}
.header__nav-link{
  color:$secondary;
  font-family: "Poppins SemiBold", sans-serif;
  font-size: 14px;

  &:hover{
    text-decoration: none;
    color:#fff;
  }
}
.header__nav-item:hover{
  border-top: 2px solid #2A2A2A;
  background-color: #d58e32;
}
.header__nav-item:hover .header__nav-link{
  color: #fff;
}


.nav__burger{
  width:154px;
  height: 85px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border:none;
  border-radius: 0;
}
.burger__icon {
  border:none;
  background-color: transparent;
  color:#fff;
  width:30px;
  border-bottom: 3px solid $secondary;
  position: relative;
  margin:15px 10px;
  padding:0;
  &:before, &:after {
    content: '';
    border-bottom: 3px solid $secondary;
    width:30px;
    position: absolute;
    left:0;
    transition: transform 300ms;
  }
  &:before {
    top:5px;
  }
  &:after {
    top:-5px;
  }
}
.burger__icon.active {
   border: none;
   &:before, &:after{
     content: '';
     display: inline-block;
     vertical-align: middle;
     font-size: 0;
     top:0;
     border-color: $search-placeholder;
   }
   &:before {
     transform: rotate(45deg);
   }
   &:after {
     transform: rotate(-45deg);
   }
}

@media(max-width: 991px) {
  .header__nav-bar {
    position: absolute;
    right: 0;
    top: 85px;
    width: 154px;
    padding: 0;
  }
  .header__nav-list {
    flex-direction: column;
    display: flex;
    height: auto;
    z-index: 2000;
    background-color: $secondary;
    padding: 10px;
    width: 154px;

  }
  .header__nav-item {
    width: 75%;
    text-align: right;
    padding: 15px 0;

    &:hover {
      background-color: $secondary;
      border-bottom: 1px solid $search-placeholder;
    }

    &:hover .header__nav-link {
      color: #fff;
    }
  }
  .header__nav-link {
    font-family: 'Poppins Light', sans-serif;
    color: $search-placeholder;

    &:hover {
      background-color: $secondary;
    }
  }
  .nav__burger.collapsed {
    height: 85px;
    border-radius: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 154px;
    background-color: #fff;
  }
  .nav__burger {
    background-color: $secondary;
  }
}
@media (max-width: 400px) {
  .nav__burger,
  .nav__burger.collapsed{
    width:120px;
  }
  .header__nav-bar{
    width: 120px;
  }
  .header__nav-list{
    width: 120px;
  }
  .top-slider .top-slider__slide .top-slider__title{
    font-size:22px;
    font-family: "Poppins SemiBold",sans-serif;
  }
  .top-slider .top-slider__slide .top-slider__desc{
    font-size: 12px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .top-menu__contacts-icon{
    display: none;
  }
  .logo-link__logo-img{
    width:114px;
    height: 53px;
  }
  .top-menu__cart{
    /*width:45px;
    height:45px;*/
    padding:6px 16px 6px 13px;
  }
  .cart__cart-icon{
    font-size: 18px;
    margin-right: calc(25px/2)
  }
  .cart__cart-counter{
    font-size: 10px;
    width:25px;
    height: 25px;
    top: calc(50% - 25px/2)
  }
  .top-slider .top-slider__title{
    font-size:36px;
    font-family: "Poppins SemiBold",sans-serif;
  }
  .top-slider .top-slider__desc{
    font-size: 18px;
  }
  .top-slider .top-slider__slide-image {
    padding:0 15px;
  }
  .top-slider .top-slider__slide,
  .top-slider .top-slider__slide-image{
    height: 302px;
  }
  .top-slider .top-slider__slide-overlay{
    margin:0;
    padding:0;
  }
}
  //TOP-SLIDER

.top-slider__slider-control:hover {
  background-color: $primary;
}
.top-slider__slider-control {
  position: relative;
  width:100%;
  padding: 13px;
  background-color: $secondary;
  opacity:1;
  border:none;
}
.slider-control__icon {
  height: 13px;
}
.top-slider__slide{
  height:505px;
}
.top-slider__slide-image {
  height:505px;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-slider__slide-image--first{
  background-image: url("../../dist/img/top-slider/1.jpg");
}
.top-slider__slide-image--second{
  background-image: url("../../dist/img/top-slider/2.jpg");
}
.top-slider__slide-overlay{
  position: relative;
  background-color: rgba(40,40,40, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color:#fff;
  padding-top: 77px;
  height: 215px;
}
.top-slider__title {
  font-family: 'Poppins Light', sans-serif;
  font-size: 54px;
/*  margin-bottom: 14px;*/
  & b{
    font-family: 'Poppins Semibold', sans-serif;
  }
}
.slide-overlay__desc{
  font-size: 24px;
  font-family: 'Poppins Light', sans-serif;
  margin-bottom: 30px;
}
.top-slider__btn{
  font-family: 'Poppins Semibold', sans-serif;
  font-size: 13px;
  padding:18px 5px;
  width: 136px;
  height: 54px;
  z-index: 1;
}


//FEATURES

.features {
  padding-top: 30px;
}
.features__feature-item{
  border:1px solid #b7b7b7;
  width:260px;
  position: relative;
  padding:22px;
  padding-top:30px;
  text-align: center;
  margin-bottom: 27px;
}
.features__feature-item:hover {
& .feature-item__icon{
  color:#fff;
  background-color: $primary;
}
& .feature-item__circle--big, .feature-item__icon {
  border-color: $primary;
}
& .feature-item__feature-desc{
  color:$medium-primary;
}
}
.feature-item__icon {
  border:1px solid #b7b7b7;
  width: 50px;
  height: 50px;
  font-size: 20px;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
.feature-item__circle--big {
  border:1px solid #b7b7b7;
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 85px;
  left: calc(50% - 75px / 2);
  padding: 10px;
  text-align: center;
  z-index: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-item__feature-desc{
  margin-top:20px;
}
.feature-item__main-text,
.feature-item__second-text {
  display:block;
}
.feature-item__main-text{
  font-family: 'Poppins Semibold', sans-serif;
}
.feature-item__second-text {
  font-family: "Poppins Light", sans-serif;
}

//MODALS
/*MODAL-LOGIN*/
.modal-fixer{
  & .modal-body--fixer{
    padding:20px;
  }
  & .modal__title{
    margin-bottom: 31px;
    text-transform: uppercase;
    font-family: "Poppins SemiBold",sans-serif;
    line-height: 1;
  }
  & .modal__input{
    margin-bottom: 17px;
    padding:16px 13px;
    color:#676767;
  }
  & .modal__btn{
    margin-bottom: 20px;
    background-color: $secondary;
  }
  & .modal-header--fixer, & .modal-footer--fixer{
    border:none;
  }
  & .modal__btn--close{
    background-color: $secondary;
    opacity:1;
    color:#fff;
    font-size: 25px;
    width: 41px;
    height: 37px;
    padding:7px 10px;
    &:hover{
      background-color: $primary;
    }
  }
  & .modal-cart__empty-cart-title{
    font-size: 48px;
    font-family: "Poppins SemiBold",sans-serif;
    color: #939393;
  }
  & .modal-cart__empty-cart-lead {
    font-size: 30px;
    font-family: "Poppins Light",sans-serif;
    color: #939393;
  }
}

.modal-cart-full {
  & .modal-body{
    padding: 56px;
  }
  & .modal-footer--fixer{
    padding:45px 60px;
  }
  .cart__cart-product{
    border:1px solid #e7e7e7;
    padding:25px;
  }
  .cart-product__img{
 /*   width: 229px;
    height: 160px;*/
    width:100%
  }
  .cart-product__product-title{
    flex-grow: 1;
    width: calc(100% - 229px);
    font-size: 22px;
    font-family: "Poppins SemiBold",sans-serif;
  }
  .cart-product__old-price{
    font-size: 20px;
    text-decoration: line-through;
    color:#939393;
    font-family: "Poppins Light",sans-serif;
    margin-right: 13px;
  }
  .cart-product__new-price {
    color:#fff;
    background-color: $secondary;
    font-family: 'Poppins Semibold', sans-serif;
    font-size: 22px;
    padding:8px;
    line-height: 1;
  }
  .cart-product__quantity {
    font-size: 14px;
    color:$secondary;
  }
  .quantity__title{
    font-family: "Poppins Regular", sans-serif;
  }
  .quantity__counter{
    width:70px;
    margin-left: 32px;
    text-align: center;
    padding:12px;
    height: 37px;
    border:1px solid $secondary;
    font-family: "Poppins Regular", sans-serif;
    &:focus{
      border-color:$primary;
      border-radius: 0;
      outline: none;
    }
  }
  .quantity__btn{
    display: inline-block;
    border: 1px solid $secondary;
    width: 40px;
    height: 37px;
    border-radius: 0;
    &:focus {
      box-shadow: none;
    }
    &:hover{
      color:$primary;
      border-color:$primary;
    }
  }
  .quantity__btn--minus{
    margin-right: 7px;
    margin-left: 7px;
  }

  .cart-product__old-price, .cart-product__new-price,
  .cart-product__quantity, .cart-product__sum{
    display: inline-block;
  }
  .cart-product__sum-title{
    color:#939393;
    font-size: 20px;
    font-family: 'Poppins Light', sans-serif;
    margin-bottom: 15px;
  }
  .cart-product__sum-price{
    font-size: 22px;
    font-family: "Poppins SemiBold", sans-serif;
  }
  .cart__btn-container{
    width: 100%;
  }
  .cart__btn-continue i,
  .cart__btn-buy i{
    margin-right: 10px;
  }
  .cart__btn-buy{
    background-color: $primary;
  }
  .cart__btn-continue ,
  .cart__btn-buy {
    border-radius: 0;
  }
  .total-price{
    font-size: 22px;
    font-family: "Poppins Regular", sans-serif;
  }
}
.helping-row{
  margin-top: 10px;
  align-items: flex-end;
  justify-content: space-between;
}
.helping-row .quantity__counter{
  margin-left: 0;
}

@media (max-width: 480px) {
  .cart-product__sum--helper,
  .cart-product__quantity--helper{
      display: inline-block;
  }
}

/*@media(max-width: 768px) {
  .modal-width-fixer {
    width:750px;
  }
}
@media(max-width: 480px) {
  .modal-width-fixer {
    width:420px;
  }
}*/
@media (min-width: 480px) {
  .modal-cart-full .modal-dialog,
  .modal-cart-empty .modal-dialog{
    max-width: 420px;

  }
  .modal-cart-full .modal-width-fixer .modal-body--fixer,
  .modal-cart-empty .modal-width-fixer .modal-body--fixer{
    padding:15px;
  }
  .modal-login .modal-dialog,
  .modal-register .modal-dialog{
    max-width: 456px;
    margin: 0.5rem auto;
  }
}
@media (max-width: 480px){
  .modal-login .modal-dialog,
  .modal-register .modal-dialog{
    max-width: 300px;
    margin: 0.5rem auto;
  }
  .modal-cart-full .cart-product__quantity{
    display: none !important;
  }
  .modal-cart-full .cart-product__sum{
    display: none !important;
  }
}
/*@media (max-width: 767px){
  .modal-cart-full .cart-product__quantity{
    display: none !important;
  }
  .modal-cart-full .cart-product__sum{
    display: none !important;
  }
}*/
@media (min-width: 768px) {
  .modal-cart-full .modal-dialog,
  .modal-cart-empty .modal-dialog {
    max-width: 750px;
  }

}
@media (min-width: 1200px) {
  .modal-cart-full .modal-dialog,
  .modal-cart-empty .modal-dialog{
    max-width: 1140px;
  }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* not necessary*/
.img-slide {
  width:25%;
  height: auto;
}
.gallery__top-slide{
  position: relative;
  border-bottom:1px solid $helper-color;
}
.gallery__tab-content{
  background-color:#fff;
  border:1px solid $helper-color;
  border-top:none;
}

.gallery__tab{
  text-transform: uppercase;
  color:$secondary;
  font-family: "Poppins SemiBold",sans-serif;
  font-size: 18px;
  border:1px solid $helper-color !important;
  text-align: center;
  width: 100%;
  border-radius: 0 !important;
  &:hover{
    color:$primary;
  }
  &.active{
    box-shadow: 0 0 0 0 red;
    color:$primary !important;
    background-color: $product-bg !important;
    border-top: 2px solid $primary !important;
  }
}
.top-slide__img {
  height:100%;
}
.product-img{
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.gallery__btn-list{
  position: absolute;
  top:calc(50% - 127px/2);
  left: 10px;
  z-index: 100;
  & .gallery__btn-container{
    z-index: 1000;
  }
}

.gallery__btn-interactive{
  width: 37px;
  height: 37px;
  font-size: 15px;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid $secondary;
  cursor: pointer;
  z-index: 10000;
  &:not(:last-child){
  margin-bottom: 8px;
}
  &:hover{
    border-color: $primary;
  }
  &:hover .gallery__icon{
    color:$primary;
  }
}




.top-slide__title{
  font-family: "Poppins SemiBold",sans-serif;
  color:$secondary;
}
.top-slide__new-price{
  font-size: 20px;
  font-family: "Poppins SemiBold", sans-serif;

}
.top-slide__old-price{
  font-size: 16px;
  font-family: "Poppins Regular",sans-serif;
  text-decoration: line-through;
}
.top-slide__price{
  color:#fff;
  border-radius: 50%;
  background-color: $secondary;
  opacity: 0.8;
  width: 105px;
  height: 105px;
  position: absolute;
  top:-90px;
}
.top-slide__heading{
  background-color: #fff;
  position: absolute;
  padding: 30px;
  right:0;
  bottom:30px;
  box-shadow: 0 2px 6px 0 #9e9b9e;
}
.triangle-border{
  width: 0;
  height: 0;
  border-color:$secondary;
}
.triangle-top{
  border-top: 30px solid;
  border-right: 30px solid transparent;
  position: absolute;
  left:0;
  top:0;
}
.triangle-bottom{
  border-bottom: 29px solid;
  border-left: 29px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 480px) {
  .top-slide__price{
    top:0;
    left: -90px;
  }
  .top-slide__heading{
    right: calc(50% - 312px/2);
  }
}
@media (min-width: 320px)and (max-width: 420px){
    .top-slide__heading{
      font-size: 12px;
      right: 0;
      padding:10px;
    }
  .top-slide__new-price{
    font-size: 16px;
  }
  .top-slide__old-price{
    font-size: 12px;
  }
  .triangle-top{
    border-top: 15px solid;
    border-right: 15px solid transparent;
  }
  .triangle-bottom{
    border-bottom: 15px solid;
    border-left: 15px solid transparent;
  }
  .top-slide__price {
    top: -12px;
    left: -65px;
    width: 75px;
    height: 75px;
  }
}
.promo {
  background-color: $secondary-stock;
  width: 100%;
  display: flex;
  flex-direction: column;

}
.promo-container{
  padding-top:70px;
  padding-left:45px;
}
@media  (max-width: 1199px){
  .promo {
    display: none;
  }
}
.promo__img{
  width: 100%;
}
.promo__price{
  font-family: "Poppins SemiBold",sans-serif;
  color:$secondary;
  text-transform: uppercase;
& b {
  font-size: 48px;
  color:$stock-accent;
  };
}
.promo__product-title{
  color:$primary;
  font-size: 48px;
  font-family: "Poppins SemiBold", sans-serif;
}
.promo__btn{
  background-color: $stock-accent;
  color:#fff;
  text-transform: uppercase;
  font-size: 14px;
  flex-grow: 0;
  margin-bottom: 25px;
  padding: 20px 30px;
  margin-top:25px;
  border:none;
  &:hover,
  &:focus{
    background-color: $stock-accent;
  }
}
.promo__img{
  transform: scale(-1, 1);
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 40px;
  height: 284px;
}



.gallery__top-slide {
  background-color: $product-bg;
}
.top-slide__img{
  max-width:555px;
  max-height: 450px;
  padding:10px;

  & .product-img{
    object-fit: contain;
    max-width:500px;
    max-height: 400px;
  }
}
.owl-carousel .owl-item img{
  height: 100%;
}
.owl-carousel .owl-item {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.carousel-bottom__bottom-slide{
  background-color: $product-bg;
  max-height: 70px;
  max-width: 70px !important;
  display: flex;
  justify-items: center;
  justify-content: center;

  & .carousel-bottom__image{
    max-height: 65px;
    max-width: 65px;
    height: 100%;
    width:auto !important;
    object-position: center;
  }
}
.gallery__carousel-bottom{
  padding: 10px;
  background-color: #fff;
  width:100%;
}
.carousel-bottom__control{
  background-color: $secondary;
  color:#fff;
  border:none;
  padding:0 10px;
  font-family: 'Poppins Semibold', sans-serif;
  &:hover{
    color:$medium-primary;
  }
}

.owl-carousel-bottom{
  width:86%;
  margin:0 10px;
}

.owl-item.active:first-child {
  border: 1px solid #000;
}

.gallery__title{
  color:$primary;
  font-family: 'Poppins Semibold', sans-serif;
  font-size: 20px;
  position: relative;
  border-bottom:3px solid $helper-color;
  line-height: 1.89;
  margin-bottom: 30px;
  &:after{
    content:'';
    width:44px;
    border-bottom:3px solid $primary;
    position: absolute;
    bottom:-3px;
    left:0;
  }
}
@media (max-width: 480px) {
  .top-slide__img {
    max-height: 178px;
    max-width:238px;
  }
  .top-slide__img .product-img{
    max-height: 178px;
  }

  .owl-carousel-bottom{
    width:78%;
  }
  .gallery__tab {
    font-size: 11px;
  }
}