.stocks {
    padding-top: 30px;
    :hover {
        color: #000000;
    }
}

.offer-chair {
    background: url('../img/stocks/2.png') -15px -45px no-repeat,
        url('../img/stocks/3.png') right -30px no-repeat;
    background-color: #e8edf7;
    background-size: 35%;
    height: 195px;
    font-family: Poppins Semibold, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #000000;
    margin-bottom: 30px;
}

.offer-chair-wrap {
    margin: 0px;
    :nth-child(2) {
        letter-spacing: 3.6px;
        display: block;
        padding-bottom: 7px;
    }

    :nth-child(3) {
        color: #d58e32;
        font-size: 36px;
        margin-top: 20px;
    }
}

.offer-cahir__title {
    font-size: 30px;

    :first-child {
        font-family: Poppins Light, sans-serif;
    }
}

.offer-sofa-wrap {
    background-color: rgba($color: #000000, $alpha: 0.4);
    width: 100%;
    padding: 0 0 20px 20px;
    flex-direction: column;
    text-transform: uppercase;
    font-family: Poppins Semibold, sans-serif;
    color: #fff;
    line-height: 1;
    :first-child {
        font-size: 36px;
    }
    :nth-child(2) {
        font-size: 60px;
        margin-bottom: 15px;
    }
    :last-child {
        border: 5px solid #fff;
        font-size: 50px;
        padding: 10px 15px;
    }
}

.offer-sofa {
    height: 420px;
    background: url('../img/stocks/1.jpg') no-repeat;
    background-size: cover;
    padding: 32px;
    text-decoration: none !important;
    :hover {
        color: #fff;
    }
}

.offer-special {
    background: #fbf3f7 url('../img/stocks/4.png') no-repeat;
    background-size: 50%;
    width: 100%;
    height: 195px;
    padding-right: 25px;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none !important;
    :hover {
        color: #d58e32;
    }
}

.offer-special__title {
    color: #d58e32;
    font-size: 24px;
    font-family: Poppins Semibold, sans-serif;
    line-height: 1;

    :first-child {
        font-family: Poppins Light, sans-serif;
    }
}