// .furniture-filters {
//     height: 1000px;
// }

.section-title {
    text-transform: uppercase;
    font-size: 22px;
}

.filters-title {
    text-transform: uppercase;
    color: #2a2a2a;
}

.filter-ctegories {
    flex-direction: column;
    padding-bottom: 56px;
}

.filter-categories__item {
    font-size: 13px;
    padding-bottom: 11px;
    &:hover {
        :first-child {
            color: #d58e32;
        }

        .filter-categories__counter {
            background-color: #d58e32;
            :first-child {
                color: #fff;
            }
        }
    }
    :first-child {
        color: #2a2a2a;
        text-decoration: none;
        &:hover {
            color: #d58e32;
        }
    }
}

.filter-categories__counter {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #2a2a2a;
    :first-child {
        color: #ffffff;
    }
}

.filter-price__range {
    border-radius: 2px !important;
    &::-webkit-slider-thumb {
        background-color: #fff;
        width: 20px;
        height: 20px;
        margin-top: -7px;
        border: 3px solid #d58e32 !important;
    }

    &::-webkit-slider-runnable-track {
        background-color: #fff;
        height: 8px;
        width: 263px;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
    }
}

// .filter-price__range {
//     &::-webkit-slider-thumb {
//         background-color: #fff;
//         width: 20px;
//         height: 20px;
//         border: 3px solid #d58e32 !important;
//     }
//     &::-moz-range-thumb {
//                 border: 3px solid red !important;

//     }
//     &::-webkit-slider-runnable-track {
//         background-color: #fff;
//         height: 8px;
//         width: 263px;
//         border: 1px solid #d4d4d4;
//         border-radius: 2px;
//     }
//     &:focus {
//         outline: none !important;
//     }
//     &::-webkit-slider-runnable-track {
//         background: #d58e32;
//     }
// }

.filter-price__range-container {
    padding-top: 20px;
}

.filter-price-wrap {
    padding-top: 18px;
}

.filter-price__btn {
    width: 65px;
    height: 32px;
    background-color: #d58e32;
    color: #fff;
    font-size: 14px;
    line-height: 2.71;
    text-transform: uppercase;
    border-radius: 0;
    &:hover {
        color: #fff;
    }
}

.filter-price__text {
    width: 114px;
    height: 32px;
    border: 1px solid #d4d4d4;
    outline: none;
}

.filter-color {
    padding-top: 60px;
    font-size: 13px;
}

.filter-color-wrap {
    margin-top: 32px;
}

.filter-color__item-checkbox {
    display: none;
}

.filter-color__item-checkbox-decor {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    background-color: #fa5f66;
    border-radius: 2px;

    &::before {
        content: '\2713';
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 14px;
        transform: translate(-50%, -50%);
        background-color: #fa5f66;
        opacity: 0;
        transition: 0.2s;
        font-size: 13px;
        // line-height: 1.1;
        color: rgb(255, 255, 255);
        border-radius: 2px;
        padding-left: 2px;
        // padding-bottom: 5px;
        font-weight: 700;
        line-height: 1;
    }
}

.filter-color__item-checkbox:checked
    + .filter-color__item-checkbox-decor::before {
    opacity: 1;
}

.filter-color__item-checkbox-text {
    margin-left: 10px;
    &:hover {
        color: #d58e32;
    }
}

.filter-color__item-checkbox-decor_black {
    background-color: #454545;
    &::before {
        background-color: #454545;
    }
}

.filter-color__item-checkbox-decor_yellow {
    background-color: #e9e600;
    &::before {
        background-color: #e9e600;
    }
}

.filter-color__item-checkbox-decor_blue {
    background-color: #0190d3;
    &::before {
        background-color: #0190d3;
    }
}

.filter-color__item-checkbox-decor_pink {
    background-color: #f72fe4;
    &::before {
        background-color: #f72fe4;
    }
}

.filter-color__item-checkbox-decor_green {
    background-color: #14d400;
    &::before {
        background-color: #14d400;
    }
}

.filter-size {
    padding-top: 60px;
}

.filter-size-wrap {
    padding-top: 15px;
}

.filter-size__item {
    width: 100%;
    font-size: 13px;
    padding-bottom: 11px;
    &:hover {
        color: #d58e32;
        .filter-size__counter {
            background-color: #d58e32;
        }
    }
}

.filter-size__item-checkbox-decor {
    background-color: transparent;
    border: 2px solid #2a2a2a;
    &::before {
        background-color: #d58e32;
    }
}

.filter-tags {
    padding-top: 60px;
}

.filter-tags-wrap {
    padding-top: 15px;
}

.filter-tags__item {
    border: 1px solid #959595;
    font-size: 14px;
    // line-height: 3.21;
    padding: 7px 15px;
    color: #959595;
    margin: 0 16px 12px 0;
    &:hover {
        color: #d58e32;
        border: 1px solid #d58e32;
        :first-child {
            color: #d58e32;
        }
    }
    cursor: pointer;
    :first-child {
        // padding: 0 8px 0 15px;
        margin-right: 6px;
        color: #959595;
        &:hover {
            color: #d58e32;
        }
    }
}

.lazy-load__item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px 0 rgba(1, 2, 2, 0.2);
    background-color: #eeeeee;
    margin: 30px 0 70px 0;
    font-size: 24px;
    cursor: pointer;
    color: #2a2a2a;
}

// .latest-blog__item {
//     position: relative;
//     width: 100%;
// }

.latest-blog__card-title {
    font-size: 16px;
    color: #2a2a2a;
}

.latest-blog__card-info {
    border: none !important;
    padding: 22px 30px !important;
    font-size: 14px;
    color: #676767;
}

.latest-blog__card-btn {
    border-radius: 0;
    border: none;
    width: 165px;
    height: 45px;
    margin-top: 38px;
    background-color: #2a2a2a;
    &:hover {
        background-color: #d58e32;
        border: none;
    }
    &::before {
        content: '';
        background-color: #fff !important;
    }
}

.latest-blog__card-img {
// width: 100%;
height: 100%;
}

.latest-blog-card-img-wrap {
    position: relative;
    width: 100%;
}

.latest-blog__card-comments {
    height: 60px;
    width: 300px;
    position: absolute;
    bottom: 0;
    left: calc(50%-30px);
    background-color: #fff;
    // transform: translate(-50%, -50%);
}

.latest-blog__card-comments-item {
    font-size: 13px;
    color: #676767;
    :first-child {
        margin-right: 5px;
        text-transform: uppercase;
    }
}
