.furniture {
    padding-top: 61px;
}

.product-card {
    text-decoration: none !important;
    color: #2a2a2a;
}

.card {
    background-color: #f4f5f7;
    margin: 30px 0 36px 0;
    border-radius: 0;
    border: none;
    overflow: hidden;
    &:hover {
        .card-title {
            color: #d58e32 !important;
        }
        .btn-medium {
            background-color: #d58e32 !important;
            color: #fff;
        }
        .card__icons {
            color: #2a2a2a;
        }
        .card-hover-group__circle {
            display: flex;
        }
        .card-hover-group-btn-wrap {
            display: flex;
        }
    }
}

.card-hover-group__circle {
    width: 42px;
    height: 42px;
    padding-bottom: 3px;
    background-color: #2a2a2a;
    border-radius: 50%;
    font-size: 12px;
    top: -21px;
    left: calc(50% - 21px);
    position: absolute;
    color: #fff;
    display: none;
}

.card-hover-group-btn-wrap {
    width: 100%;
    height: 260px;
    padding: 0 10px;
    position: absolute;
    display: none;
    :last-child {
        width: 132px;
        text-transform: uppercase;
    }
    :hover {
        color: #fff;
    }

}

.card-hover-group__btn {
    width: 87px;
    height: 37px;
    background-color: #2a2a2a;
    border-radius: 0;
    font-size: 13px;
    padding: 0;
    color: #fff;
}

.product-card__img {
    height: 260px;
    // width: 191px;
}

.card-body {
    background-color: #fff;
    padding: 11px;
    border: 1px solid #e2e2e2;
    border-top: none;
    ::before {
        content: '';
        width: 30px;
        height: 4px;
        background-color: #d58e32;
        bottom: calc(16% - 1px);
        left: calc(50% - 15px);
        position: absolute;
    }
}

.card-title {
    font-size: 16px;
}

.card__icons {
    font-size: 16px;
}

.card__line-decor {
    background-color: #2a2a2a;
}

.btn-small {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2a2a2a;
    border-radius: 0;
    width: 37px;
    height: 37px;
    padding: 0;
}

.btn-medium {
    width: 78px;
    height: 37px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a;
    border-radius: 0;
    color: #fff;
    font-family: Poppins Semibold, sans-serif;
    padding: 0;
    font-size: 18px;
    float: right;
}

.card__old-price {
    text-decoration: line-through;
    color: #a5a5a5;
    margin-left: 7%;
}

.card-hover-group {
    width: 100%;
}